[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/mcramm/oh-my-zsh.git
[submodule "iterm2-tab-color"]
    path = iterm2-tab-color
    url = https://github.com/connordelacruz/iterm2-tab-color
