snippet thisfn
this.$1 = function $1 ($2) {
  $3
};
endsnippet

snippet protofn
$1.prototype.$2 = function $2 ($3) {
  $4
};
endsnippet

snippet fn
function ($1) {
  $2
}
endsnippet

snippet qtest
QUnit.test('it ${1}', function (assert) {
	${2}
});
endsnippet
